[submodule "cmake/toolchains"]
	path = cmake/toolchains/polly
	url = https://github.com/cpp-pm/polly.git
[submodule "engine/3rdparty/flecs"]
	path = engine/3rdparty/flecs
	url = https://github.com/SanderMertens/flecs
